# Ignore .env files anywhere
**/.env

# Ignore IntelliJ IDEA project files anywhere
**/.idea/

# Ignore Maven build output folders anywhere
**/target/

# Ignore credentials.json at project root
/credentials.json

temp-creds/